

/* ============================================== */
/* separate the concerns of the heading selector  */
/* by moving the text-transform property          */
/* into its own class called ".heading-caps"      */
/* then add ".heading-caps" to the second button, */
/* ============================================== */

.heading {
  width: 100%;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.5rem;
  background: #15DEA5;
  color: #FFF;
  font-size: 2rem;
  text-transform: uppercase;
}



/*

.heading {
  width: 100%;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.5rem;
  background: #15DEA5;
  color: #FFF;
  font-size: 2rem;
}
.heading-caps{
  text-transform: uppercase;
}

*/



